#TestBox { color:#fff; }
	#TestBox .closed .test { display:none; }
	#TestBox .open .test { display:block; }
	#TestBox .test-case { border:2px solid #111; margin:5px; position:relative; }
		#TestBox .title { background:#000; cursor:pointer; margin:1px; padding:5px; }
		#TestBox .summary { position:absolute; top:10px; right:10px; }
			#TestBox .summary .pass, #TestBox .summary .warn, #TestBox .summary .fail { padding:5px; margin:1px; }
	#TestBox .test {  margin:1px; padding:5px; }
	#TestBox .pass { background:#00ae00; }
	#TestBox .fail { background:#f00000; }
	#TestBox .warn { background:#d9a300; }